@using FashionShopMVC.Models.DTO.UserDTO;
@using FashionShopMVC.Helper;
@model AdminPaginationSet<GetUserDTO>;

<table class="table table-bordered table-striped text-center">
    <thead>
        <tr>
            <th style="width: 30%">ID</th>
            <th style="width: 20%">Họ tên</th>
            <th style="width: 20%">Email</th>
            <th style="width: 10%">Phone Number</th>
            <th style="width: 10%">Khóa</th>
            <th style="width: 10%">Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.List != null && Model.List.Any())
        {
            @foreach (var customer in Model.List)
            {
                <tr>
                    <td>@customer.ID</td>
                    <td>@customer.FullName</td>
                    <td>@customer.Email</td>
                    <td>@customer.PhoneNumber</td>
                    <td>
                        <span class="@(customer.LockoutEnabled ? "badge bg-gradient-red" : "badge bg-gradient-green")" style="font-size: 14px">
                            @customer.LockoutEnabled
                        </span>
                    </td>

                    <td>
                        <!--<button class="btn btn-sm btn-primary mr-2" ui-sref="customer_edit({id:customer.id})">
                            Sửa
                        </button>-->
                        @if (customer.LockoutEnabled == true)
                        {
                            <form asp-area="Admin" asp-controller="User" asp-action="LockCustomer" asp-route-id="@customer.ID" method="post" style="display:inline;">
                                <button type="submit" class="btn btn-sm btn-success">Mở Khóa</button>
                            </form>
                        }
                        else
                        {
                            <form asp-area="Admin" asp-controller="User" asp-action="LockCustomer" asp-route-id="@customer.ID" method="post" style="display:inline;">
                                <button type="submit" class="btn btn-sm btn-success">Khóa</button>
                            </form>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5">Không có dữ liệu để hiển thị.</td>
            </tr>
        }

    </tbody>
</table>
@if (Model != null && Model.PagesCount > 0)
{
    <nav class="mt-5">
        <ul class="pagination justify-content-center">
            @for (int i = 0; i < Model.PagesCount; i++)
            {
                <li class="page-item @(Model.Page == i ? "active" : "")">
                    <a class="page-link" href="javascript:void(0);" onclick="loadCustomers(@i)">
                        @(i + 1)
                    </a>
                </li>
            }
        </ul>
    </nav>
}