@using FashionShopMVC.Models.DTO.VoucherDTO;
@model CreateVoucherDTO;
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title" style="font-size: 30px">Thêm mã giảm giá</h3>
    </div>

    @using (Html.BeginForm("Create", "Voucher", FormMethod.Post, new { @class = "form", role = "form", novalidate = "novalidate" }))
    {
        <div class="card-body">
            <div class="row">
                <div class="form-group col-4">
                    <label for="discountCode">Mã giảm giá</label>
                    <input type="text" name="DiscountCode" class="form-control" id="discountCode" placeholder="Vui lòng nhập mã giảm giá" required value="@Model.DiscountCode" />
                    @Html.ValidationMessage("DiscountCode", "Mã giảm giá không được để trống", new { @class = "text-danger" })
                </div>

                <div class="form-group col-4" style="text-align: center">
                    <label>Loại giảm giá</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="DiscountType" id="discountTypeAmount" value="amount" onclick="toggleDiscountType()" />
                        <label class="form-check-label" for="discountTypeAmount">Giảm giá theo ₫</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="DiscountType" id="discountTypePercentage" value="percentage" onclick="toggleDiscountType()" />
                        <label class="form-check-label" for="discountTypePercentage">Giảm giá theo %</label>
                    </div>
                </div>

                <div class="form-group col-4" id="discountAmountField" style="display: none;">
                    <label for="discountValue">Số tiền giảm ₫</label>
                    <input type="number" name="DiscountValue" class="form-control" id="discountValue" placeholder="Vui lòng nhập số tiền giảm" required value="@Model.DiscountValue" />
                    @Html.ValidationMessage("DiscountValue", "Số tiền giảm không được để trống", new { @class = "text-danger" })
                </div>

                <div class="form-group col-4" id="discountPercentageField" style="display: none;">
                    <label for="discountPercentage">Phần trăm giảm %</label>
                    <input type="number" name="DiscountPercentage" class="form-control" id="discountPercentage" placeholder="Vui lòng nhập phần trăm giảm" required value="@Model.DiscountPercentage" />
                    @Html.ValidationMessage("DiscountPercentage", "Phần trăm giảm không được để trống", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="form-group col-3">
                    <label for="minimumValue">Giá trị tối thiểu của đơn hàng</label>
                    <input type="number" name="MinimumValue" class="form-control" id="minimumValue" placeholder="Vui lòng nhập giá trị tối thiểu của đơn hàng" required value="@Model.MinimumValue" />
                    @Html.ValidationMessage("MinimumValue", "Giá trị tối thiểu không được để trống", new { @class = "text-danger" })
                </div>

                <div class="form-group col-3">
                    <label for="quantity">Số lượng</label>
                    <input type="number" name="Quantity" class="form-control" id="quantity" placeholder="Vui lòng nhập số lượng" required value="@Model.Quantity" />
                    @Html.ValidationMessage("Quantity", "Số lượng không được để trống", new { @class = "text-danger" })
                </div>

                <div class="form-group col-3">
                    <label for="startDate">Ngày bắt đầu</label>
                    <input type="datetime-local" name="StartDate" class="form-control" id="startDate" placeholder="Vui lòng chọn ngày bắt đầu" value="@Model.StartDate?.ToString("yyyy-MM-ddTHH:mm")" />
                </div>

                <div class="form-group col-3">
                    <label for="endDate">Ngày kết thúc</label>
                    <input type="datetime-local" name="EndDate" class="form-control" id="endDate" placeholder="Vui lòng chọn ngày kết thúc" value="@Model.EndDate?.ToString("yyyy-MM-ddTHH:mm")" />
                </div>
            </div>

            <div class="form-group">
                <label for="describe">Mô tả</label>
                <textarea name="Describe" class="form-control" id="describe" placeholder="Vui lòng nhập mô tả mã giảm giá" style="height: 150px">@Model.Describe</textarea>
            </div>

            <div class="form-group mb-0">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" name="Status" class="custom-control-input" id="status" @(Model.Status ? "checked" : "") />
                    <label class="custom-control-label" style="cursor: pointer" for="status">Có hiệu lực</label>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <button type="submit" class="btn btn-success" @(ViewData.ModelState.IsValid ? "" : "disabled")>Thêm</button>
            <a href="@Url.Action("Index", "Voucher")" class="btn btn-default float-right">Hủy</a>
        </div>
    }
</div>
<!-- /.card -->
<script>
    function toggleDiscountType() {
        var isAmountChecked = document.getElementById("discountTypeAmount").checked;
        document.getElementById("discountAmountField").style.display = isAmountChecked ? "block" : "none";
        document.getElementById("discountPercentageField").style.display = isAmountChecked ? "none" : "block";
    }
</script>